
<div>
    <sly-field title="Export project"
               description="Export project with all geometry shapes(all object shapes(polygons, bitmaps, etc) other than rectangle will be converted to rectangles) or only with rectangle shapes">
        <div class="fflex" style="flex-direction: column; align-items: flex-start">
            <el-radio class="radio"
                      v-model="state.shapes"
                      label="true">Export all geometry shapes
            </el-radio>
            <el-radio class="radio"
                      v-model="state.shapes"
                      label="false"
                      style="margin-left: 0;">Export only rectangle shapes
            </el-radio>
        </div>
    </sly-field>
</div>